nav {
  background-color: #28a745;
}

img {
  width: 140px;
}

#plumon {
  margin-bottom: 3rem;
}
#contenedor {
  margin-left: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
}
.dataProducto {
  color: #212529;
  font-size: 13pt;
}

.tituloPoducto {
  color: #707070;
}
.location {
  display: flex;
  color: #707070;
}

.location p {
  margin-top: -3px;
  margin-left: 4px;
}
hr {
  margin-top: -4px;
}

.precios {
  display: flex;
  justify-content: end;
}
.precioNormal {
  margin-right: 1rem;
  color: #707070;
}

.precioOpferta {
  color: #28a745;
  font-size: 13pt;
  font-family: "Roboto", sans-serif;
}

form {
  background-color: #28a745;
}

form p {
  text-align: center;
  color: #fff;
}

#piePagina {
  text-align: center;
}
#piePagina img {
  width: 120px;
}
#piePagina {
  color: #707070;
  font-size: 10pt;
}
